html {
    user-select: none;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--light-blue);
    font-family: 'Ubuntu', sans-serif;
  }