:root {
  --denim: hsl(213, 96%, 18%);
  --purple: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  --grey: hsl(231, 11%, 63%);
  --light-grey: hsla(228, 52%, 85%, 0.2);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}
